<form>
    <h2>Dice WebRTC Module Configuration</h2>

    <div id="qr-code-container" style="text-align: center;">
        <h3>{{localize "diceWebRTC.ScanToConnect"}}</h3>
        <img src="{{qrCodeUrl}}" id="qr-code" alt="QR Code" style="max-width: 200px;">
        <p id="peer-id">{{localize "diceWebRTC.PeerId"}}: {{peerId}}</p>
    </div>
    
    {{!-- <div class="dice-webrtc-form-group">
        <label for="connection-secret">{{localize "diceWebRTC.ConnectionSecret"}}</label>
        <input type="text" id="connection-secret" name="connection-secret" value="{{peerId}}">
        <p class="dice-webrtc-notes">{{localize "diceWebRTC.Notes"}}</p>
    </div> --}}

    <div class="dice-webrtc-form-group">
        <button type="button" class="generate-qr" data-action="generate-qr">
            <i class="fas fa-qrcode"></i> {{localize "diceWebRTC.QRGenerateBtn"}}
        </button>
    </div>

    <div class="dice-webrtc-form-group">
        <h3>{{localize "diceWebRTC.ActiveConnections"}}</h3>
        <ul id="active-connections">
            {{#each activeConnections}}
            <li>{{this}}</li>
            {{else}}
            <li>{{localize "diceWebRTC.NoActiveConnections"}}</li>
            {{/each}}
        </ul>
    </div>

    <div class="dice-webrtc-form-group"></div>
        <button type="button" class="disconnect-all">
            <i class="fas fa-unlink"></i> {{localize "diceWebRTC.DisconnectAllBtn"}}
        </button>
    </div>

    <button type="submit">
        <i class="fas fa-save"></i> {{localize "diceWebRTC.SaveChangesBtn"}}
    </button>
</form>

